<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIb4CdfoeUUtZ2vo0aBw3nDYikx6Rrb0M</string>
	<key>GCM_SENDER_ID</key>
	<string>246772563645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.d</string>
	<key>PROJECT_ID</key>
	<string>diole-41ab4</string>
	<key>STORAGE_BUCKET</key>
	<string>diole-41ab4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246772563645:ios:902f88e94fc0fce61801d4</string>
</dict>
</plist>